 .bg-img {
    background-image: url('banner2.jpeg');
   /* padding: 50px;
    background-repeat: no-repeat;
    background-position:fit-page;*/
    background-size: cover;
   
}
.link{
    color: black;
    text-decoration: none;
}
li {
    list-style: none;
}
a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: black;
   
}
.dropdown-item {
    font-size: 15px;
 
}  
.img-container {
    text-align: center;
    padding-top: 20vh;
}
