body {
    background-image: url('bandera\ copy.jpeg');
    background-size: cover;
    height: 100px;
    padding: 10px;
    background-position: center center;
    background-repeat: no-repeat;

}
a:hover {
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
}
h1 {
    font-family: 'Shadows Into Light Two', cursive;
    text-align: center;
    margin: 50px;
    
}
h2 {
    font-family: 'Shadows Into Light Two', cursive;
    margin: 30px;

}

.figure-caption {
    font-size: 10px;
    text-align: left;
}
.col-md-8 {
    color: white;
    text-align: start;
}
i {
    font-family: 'Shadows Into Light Two', cursive;
}
footer a:hover {
    border: none
}
/*@media (max-width: 1024px){
    .mack .card_body .card{
        width: 33.3%;
    }
}
@media (max-width: 768px){
    .mask .card_body .card{
        width: 50%;
    }
}
@media (max-width: 528px){
    .mask .card_body .card{
        width: 100%;
    }
}*/