* {
    box-sizing: border-box;
}
/* background phto */
body {
    background-image: url('main.JPG');
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    background-attachment: fixed;
}
/* header display */
.upper {
    display: flex;
}
li{
    list-style: none;
}
/* search box*/
.search {
    background-color: white;
    opacity: 1;
    height: 30px;
    align-items: center;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid;
    display: flex;
    margin: 0;
}
/* box inside search box */
input {
    flex: 1;
    align-items: center;
    padding: 5px;
    font-size: 15px;
    border: none;
    outline: none;
}
p {
    margin: 0;
}