.banner {
    background-image: url('../beached_photos/bandera\ copy.jpeg');
    background-size: cover;
    padding: 50px;
    background-position: center center;
    background-repeat: no-repeat;

}
a {
    font-weight: bolder;
}
a:hover {
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
}
h1 {
    font-family: 'Shadows Into Light Two', cursive;
    text-align: center;
    margin: 50px;
    
}
h2 {
    font-family: 'Shadows Into Light Two', cursive;
    margin: 30px;

}

.figure-caption {
    font-size: 10px;
    text-align: left;
}
.col-md-8 {
    color: white;
    text-align: start;
}
i {
    font-family: 'Shadows Into Light Two', cursive;
}
footer a:hover {
    border: none
}
